<%= cl_image_tag("tzovno62ozfpcujvh7bl", width: 400, height: 300, crop: :fill) %>

<h1>Cocktails</h1>
<div class="container">
  <div class="row">
    <p><%= link_to "Add new cocktail", new_cocktail_path %></p>
      <% @cocktails.each do |cocktail| %>
        <div class="col-sm-4 col-lg-4">
          <%= render 'cocktail-card', cocktail: cocktail %>
        </div>
      <% end %>
  </div>
</div>
