<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>New dose</h1>
    <%= render 'dose-new', dose: @dose %>
    <%= link_to 'Cancel', edit_cocktail_path(@cocktail), class:"btn btn-warning" %>
  </div>
</div>
